@font-face {
  font-family: HelveNeue;
  src: url(HelveticaNeueUltraLight.otf);
}

/* GENERAL */
* {
  cursor: url("glasscursor.cur"), auto;
}

a {
  cursor: url("glasspointer.cur"), auto;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  font-family: HelveNeue;
  font-size: 30px;
}

a:link, a:active, a:visited {
  color: rgb(247, 75, 23);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s ease-out;
  color: rgb(138, 138, 138);
}

h1, p {
    margin: 5px;
}

/* DIVS */
.menu-bar {
    position: fixed;
    justify-content: center;
    margin:32px;
    background-color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.bottom-text {
  position: fixed;
  background-color: white;
  color: black;
  bottom: 0;
  text-align: left;
  font-size: 16px;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 10px 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* IDS */
#topbutton {
    cursor: url("glasspointer.cur"), auto;
    transition: 0.3s;
}
#topbutton:hover {
    color: rgb(138, 138, 138);
}

/* PARALLAX */
body, html {
  height: 100%;
}
.parallax {
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxtext {
    height:auto;
    margin: 32px;
    background-color:white;
}

.parallax.bg0 {
    background-image: url(images/F1.webp);
}
.parallax.bg1{
    background-image: url(images/F4.webp);
}
.parallax.bg2{
    background-image: url(images/F3.webp);
}
.parallax.bg3{
    background-image: url(images/F2.webp);
}

.parallax.rl7 {
    background-image: url(images/releases/rl7.webp);
}
.parallax.rl6 {
    background-image: url(images/releases/rl6.webp);
}
.parallax.rl5 {
    background-image: url(images/releases/rl5.webp);
}
.parallax.rl4 {
    background-image: url(images/releases/rl4.webp);
}
.parallax.rl3 {
    background-image: url(images/releases/rl3.webp);
}
.parallax.rl2 {
    background-image: url(images/releases/rl2.webp);
}
.parallax.rl1 {
    background-image: url(images/releases/rl1.webp);
}
@media only screen and (max-width: 768px) {
h1 {
    font-size:32px;
}
p {
    font-size:25px;
}
.bottom-text {
  font-size: 10px;
}
  .parallax {
  height: 100%; 
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}
